<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Sensor GUI with D3.js</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div id="trailerContainer">
    <div id="topBlock">
        <div id="backContainer">
          <p>Back Sensor</p>
          <div id="thermo1" class="thermo"></div>
          <div id="humid1" class="humid"></div>
        </div>

        <div id="topContainer">
          <p>Top Sensor</p>
          <div id="thermo2" class="thermo"></div>
          <div id="humid2" class="humid"></div>
        </div>
    </div>

    <div id=frontContainer>
      <p>Front Sensor</p>
      <div id="thermo3" class="thermo"></div>
      <div id="humid3" class="humid"></div>
    </div>
</div>
    
<!--
    <div id=tempGraphContainer>
        <p>Temperature</p>
    </div>
-->
         
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script src='../js/d3.min.js'></script>
    <script  src="../js/index.js"></script>
    
</body>
</html>
